.nav{
    background-color: lightblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

.search{
    height: 56px;
    font-size: 40px;
    text-align: center;
}

.head{
    font-size: 50px;
    color: black;
}

body{
    background-color: antiquewhite;
} 