.nav{
    background-color: lightblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

.search{
    height: 56px;
    font-size: 40px;
    text-align: center;
}

.head{
    font-size: 50px;
    color: black;
}

body{
    background-color: antiquewhite;
} 
img{
    object-fit: fill;
}
.mainimage{
    margin-top: 10px;
    padding:0 0px;
    box-shadow: 10px 5px 5px black;
}

.main-content{
    text-align: center;
}

.event-title{
    border-bottom: 3px solid black;
}